.accounts {
  background-color: #030f26;
  padding: 10rem 20rem;
  @media screen and (max-width: 1600px) {
    padding: 10rem 5rem;
  }
  @include breakpoint-down(medium) {
    padding: 10rem 4rem;
  }
  @include breakpoint-down(small) {
    padding: 10rem 2rem;
  }
  &__heading {
    width: 730px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10rem;
    @include breakpoint-down(medium) {
      width: 100%;
    }
    h2 {
      position: relative;
      bottom: -3rem;
      width: 400px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #030f26;
      font-weight: 400;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff;
      @include breakpoint-down(medium) {
        font-size: 35px;
      }
      @include breakpoint-down(small) {
        font-size: 30px;
      }
    }
    p {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #e0e0e0;
      margin-top: 5rem;
      @include breakpoint-down(small) {
        font-size: 14px;
        br {
          display: none;
        }
      }
    }
  }
  &__types {
    margin-block: 5rem;
    overflow: auto;
    &-table {
      position: relative;
      overflow: auto;
      width: 100%;
      color: #fff;
      border-spacing: 0;
      border: 2px solid #fff;
      text-align: center;
      thead {
        background-color: #202a3d;
        th {
          padding: 2rem 0.5rem;
          font-size: 20px;
          font-weight: 400;
          font-family: "PT Serif", sans-serif;
          @media screen and (max-width: 800px) {
            font-size: 16px;
          }
        }
      }
      tbody {
        td {
          border-bottom: 2px solid #fff;
          padding: 2rem 0.5rem;
          font-size: 16px;
          @media screen and (max-width: 800px) {
            font-size: 14px;
          }
        }
        th {
          border-bottom: 2px solid #fff;
          padding: 2rem 0.5rem;
          font-size: 20px;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          @media screen and (max-width: 800px) {
            font-size: 16px;
          }
        }
        svg {
          font-size: 3rem;
          @media screen and (max-width: 800px) {
            font-size: 2rem;
          }
        }
        .accounts-types-btn {
          padding: 1.5rem 1rem;
          background-color: #fff;
          border: 2px solid #fff;
          color: #000;
          font-family: "Lato", sans-serif;
          font-weight: 500;
          font-size: 16px;
          transition: all 0.3s ease-in-out;
          @media screen and (max-width: 1300px) {
            font-size: 14px;
            padding: 1.5rem 0rem;
          }
          @media screen and (max-width: 800px) {
            font-size: 10px;
            padding: 0.5rem 0rem;
          }
          &:hover {
            background-color: transparent;
            color: #fff;
          }
        }
      }
    }
  }
}
.steps {
  background: #ffffff;
  padding: 10rem 20rem;
  @media screen and (max-width: 1600px) {
    padding: 10rem 5rem;
  }
  @include breakpoint-down(medium) {
    padding: 10rem 4rem;
  }
  @include breakpoint-down(small) {
    padding: 10rem 2rem;
  }
  &__heading {
    margin-bottom: 10rem;
    h2 {
      font-weight: 400;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #0c1d40;
      font-family: "PT Serif";
      @include breakpoint-down(medium) {
        font-size: 36px;
      }
      @include breakpoint-down(small) {
        font-size: 32px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    @include breakpoint-down(medium) {
      flex-direction: column;
    }
    &-single {
      flex-basis: 33%;
      &:not(:last-child) {
        margin-right: 5rem;
        @include breakpoint-down(medium) {
          margin-right: 0rem;
          margin-bottom: 5rem;
        }
      }
      h1 {
        -webkit-text-stroke: 2px #04339a;
        font-size: 120px;
        font-weight: 700;
        color: #fff;
        line-height: 70px;
        margin-bottom: 2rem;
      }
      h4 {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #00001b;
      }
      hr {
        border: 1px dashed #aeaeae;
        margin-block: 2rem;
      }
      p {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #00001b;
      }
    }
  }
}
.funding {
  background-color: #030f26;
  &__wrapper {
    padding: 10rem 20rem;
    @media screen and (max-width: 1600px) {
      padding: 10rem 5rem;
    }
    @include breakpoint-down(medium) {
      padding: 10rem 4rem;
    }
    @include breakpoint-down(small) {
      padding: 10rem 2rem;
    }
  }
  &__heading {
    width: 830px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10rem;
    @include breakpoint-down(medium) {
      width: 100%;
    }
    h2 {
      position: relative;
      bottom: -2rem;
      width: 460px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #010326;
      font-weight: 400;
      font-size: 48px;
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff;
      @include breakpoint-down(medium) {
        font-size: 40px;
      }
      @include breakpoint-down(small) {
        font-size: 36px;
        width: 100%;
      }
    }

    p {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #e0e0e0;
      margin-top: 5rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    @include breakpoint-down(medium) {
      flex-direction: column;
    }
    &-single {
      flex-basis: 30%;
      &:not(:last-child) {
        margin-right: 5rem;
        @include breakpoint-down(medium) {
          margin-right: 0rem;
          margin-bottom: 5rem;
        }
      }
      &-heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media screen and (max-width: 1500px) {
          justify-content: flex-start;
        }
        h1 {
          -webkit-text-stroke: 2px #04339a;
          font-size: 120px;
          font-weight: 700;
          line-height: 70px;
          color: #fff;
          margin-bottom: 3rem;
        }
        h4 {
          font-weight: 700;
          font-size: 30px;
          line-height: 30px;
          margin-inline: 8px;
          color: #ffffff;
        }
      }
      hr {
        border: 1px dashed #a1a1a1;
        margin-block: 2rem;
      }
      p {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #ffffff;
        margin-bottom: 1rem;
      }
    }
  }
}
.withdraw {
  background: #fff;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  @media screen and (max-width: 1275px) {
    flex-direction: column-reverse;
  }
  .withdraw__content-heading {
    font-family: "PT Serif", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.05em;
    color: #0c1d40;
    margin-bottom: 3rem;
    @include breakpoint-down(small) {
      font-size: 40px;
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #0c1d40;
    margin-bottom: 1rem;
    @include breakpoint-down(small) {
      font-size: 16px;
    }
  }
  &__content-1 {
    flex-basis: 50%;
    padding: 10rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box {
      width: 500px;
      @include breakpoint-down(small) {
        width: 100%;
        padding: 0rem 2rem;
      }
    }
  }
  &__content-2 {
    flex-basis: 50%;
    background-color: #010326;
    padding: 0rem 2rem;
    @media screen and (max-width: 1275px) {
      padding: 2rem 0rem;
    }
    &__wrapper {
      border: 4px solid #fff;
      padding: 1rem 2rem;
    }
    &-box {
      border: 4px solid #fff;
      padding: 10rem 4rem;
      @include breakpoint-down(small) {
        padding: 10rem 2rem;
      }
      p {
        width: 572px;
        @include breakpoint-down(medium) {
          width: 100%;
        }
      }
    }
  }
}
.segregated {
  background-color: #030f26;
  &__wrapper {
    padding: 10rem 20rem;
    @media screen and (max-width: 1600px) {
      padding: 10rem 5rem;
    }
    @include breakpoint-down(medium) {
      padding: 10rem 4rem;
    }
    @include breakpoint-down(small) {
      padding: 10rem 2rem;
    }
  }
  &__heading {
    width: 900px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10rem;
    @include breakpoint-down(medium) {
      width: 100%;
    }
    h2 {
      position: relative;
      bottom: -2rem;
      width: 520px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #010326;
      font-weight: 400;
      font-size: 48px;
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff;
      @include breakpoint-down(medium) {
        font-size: 40px;
      }
      @include breakpoint-down(small) {
        font-size: 36px;
        width: 100%;
      }
    }

    p {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #e0e0e0;
      margin-top: 5rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include breakpoint-down(medium) {
      flex-direction: column;
    }
    h3 {
      font-size: 3rem;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      color: #fff;
      margin-bottom: 2rem;
    }
    p {
      font-size: 16px;
      font-family: "Lato", sans-serif;
      color: #fff;
      line-height: 25px;
      letter-spacing: 0.03em;

      color: #e0e0e0;
      margin-bottom: 5rem;
    }
    &-1 {
      flex-basis: 30%;
      margin-right: 20rem;
      @include breakpoint-down(medium) {
        margin-right: 0rem;
        margin-bottom: 5rem;
        flex-basis: 50%;
      }
      ul {
        margin-left: 2rem;
        li {
          font-size: 18px;
          color: #fff;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
    }
    &-2 {
      flex-basis: 30%;
      @include breakpoint-down(medium) {
        flex-basis: 50%;
      }
    }
  }
}
